.container-map{
    height: 500px;
    margin-bottom: 60px;
    width: 100%;
}

#map {
    width: 100%;
    height: 100%;
}
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 667px) 
and (orientation : landscape){
#map {

        width: 80%;
        height:90%;
        margin:auto;

    }
}

.ui-autocomplete {
    max-height: 200px;
    max-width: 400px;
    overflow: auto;
}

.ui-menu-item {
    border-bottom: 1px solid #EFEFEF;
}

#loading-root{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
    z-index: 41000;
    text-align: center;
    padding-top: 200px;
    color: white;
    font-size: 50px;
    overflow: hidden;
    min-height: 800px;
}