{% extends '::base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1>Une erreur est survenue</h1>
            <h2>Le code d'erreur est "{{ status_code }} {{ status_text }}".</h2>

            <div class="alert alert-danger">
                La page que vous cherchez n'existe pas.
            </div>
            
            <a class="btn btn-default" href="{{ path('site_homepage') }}">Revenir à l'accueil</a>
        </div>
            
    </div>


{% endblock %}