{% extends '::base.html.twig' %}

{% trans_default_domain 'apropos' %}

{% block title %}
    {{ 'titles.a_propos'|trans({}, 'titles') }}
{% endblock title %}

{% block body %}
    <div class="container">

        <h1>{{ 'a_propos.title'|trans }}</h1>
        <hr>

        {{ 'filters.content'|trans({}, 'accueil')|raw }}
    </div>
{% endblock %}
