{# empty Twig template #}

<footer>
    
    <ul>
        <li><a href="">A propos</a></li>
        <li><a href="">Partenaires</a></li>
        <li><a href="">Aide en ligne</a></li>
        <li><a href="">Contact</a></li>
    </ul>
    
    <div class="social-link">

        <a class="btn btn-social-icon btn-lg btn-twitter">
            <i class="fa fa-twitter"></i>
        </a>

        <a class="btn btn-social-icon btn-lg btn-facebook">
            <i class="fa fa-facebook"></i>
        </a>

        <a class="btn btn-social-icon btn-lg btn-linkedin">
            <i class="fa fa-linkedin"></i>
        </a>
        

    </div>

</footer>
