{% extends '::base.html.twig' %}

{% trans_default_domain 'accueil' %}

{% block title %}
    {{ 'titles.accueil'|trans({}, 'titles') }}
{% endblock title %}

{% block body %}
    <h1>Bienvenue sur GEORIC</h1>

    <p>Nous avons le plaisir de vous informer que votre demande de création de compte vient d'être acceptée</p>
    <p>Profitez de nos services <a href="{{ path('site_homepage') }}">ici</a></p>
    <p>Merci de votre confiance</p>

{% endblock body %}

