<h1>{{ user.username }} - Bienvenue sur GEORIC</h1>

<p>Nous avons le plaisir de vous informer que votre demande de création de compte vient d'être acceptée</p>
<p>Profitez de nos services <a href="http://2015-geoloc.iutinfobourg.fr">ici</a></p>
<p>Merci de votre confiance</p>

