{% extends "GeolocationUserBundle::layout.html.twig" %}

{% block title %}
    {{ 'titles.user.check_email'|trans({}, 'titles') }}
{% endblock title %}

{% block stylesheets %}
{% endblock %}

{% trans_default_domain 'GeolocationUserBundle' %}

{% block fos_user_content %}
    <div class="container">
        <div id="checkEmail_message">
            <p>{{ 'registration.check_email'|trans({'%email%': user.email}) }}</p>
        </div>
    </div>
{% endblock fos_user_content %}
