{% extends '::base.html.twig' %}

{% trans_default_domain 'contact' %}

{% block title %}
    {{ 'titles.contact'|trans({}, 'titles') }}
{% endblock title %}

{% block body %}
    <div class="container">


        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <h1>{{ 'contact.title'|trans }}</h1>
                <hr>

                {% form_theme form 'bootstrap_3_layout.html.twig' %}

                {{ form(form|raw) }}
            </div>
        </div>

    </div>
{% endblock %}
