<div class="filtres col-sm-3" id="zoneRechercheCarte">
    <form role="form" class="form-horizontal col-sm-10 col-sm-offset-1">
        <fieldset>
            <legend id="filtreRechercheCarte" class="active">Filtres de recherche <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span> </legend>
            <!--<div class="form-group">
                    <input type="text" id="search-ressources" class="autocomplete-search-ressources form-control" data-url="{{ path('api_commun_json_ressources') }}" name="ressources" placeholder="Ressources">
                </div>-->
            <div class="form-group">
                <input type="text" id="search-city" class="autocomplete-search-city form-control" data-url="{{ path('api_commun_json_villes') }}" name="city" placeholder="Ville">
            </div>

            <div class="form-group">
                <input type="text" id="search-cp" class="form-control" name="cp" placeholder="Code Postal">
            </div>

            <div class="form-group">
                <input type="text" id="search-entreprise" class="autocomplete-search-entreprise form-control" data-url="{{ path('api_commun_json_entreprise') }}" name="entreprise" placeholder="Entreprise">
            </div>

            <div class="form-group">
                <label for="distance">Distance:</label>
                <input type="text" id="distance" readonly style="border:0; color:#f6931f; font-weight:bold;">
                <div id="slider-range"></div>
            </div>
        </fieldset>
    </form>
</div>