
footer .social-link{
    background-color: grey;
    text-align: center;
    margin:0;
}

footer{
    background-color: lightgray; 
    clear: both;
}

footer ul{
    text-align: center;
    padding: 0;
}

footer li a{
    display: block;
    padding:10px;

}

footer a:hover{
    background-color: graytext;
    text-decoration: none;
}

footer ul li{
    display: inline-block;
}


