/*---------INDEX ----------*/


.filtres {
    position: absolute;
    top: 121px;
    right: 63px;
    background: beige;
    height: 443px;
    opacity: 0.9;
}

input#distance {
    background-color: beige;
}


/*---------FOOTER----------*/
footer .social-link{
    background-color: grey;
    text-align: center;
    margin:0;
    padding: 5px;
}

footer{
    background-color: lightgray; 
    clear: both;
    width:100%;
    margin-top: 20px;
}

footer ul{
    text-align: center;
    padding: 0;
    margin:0;
}

footer li a{
    display: block;
    padding:10px;

}

footer a:hover{
    background-color: graytext;
    text-decoration: none;
}

footer ul li{
    display: inline-block;
}


/* ---------------------------------------- */

#tuileContainer{
    text-align: center;
    margin-top:20px;
}

.tuile{
    width:400px;
    height:200px;
    margin:20px;
    padding:10px;
    background-color: red;
    display: inline-block;
    text-align: justify;
}

.imgTuile{
    width:100px;
    height:100px;
    background-color: green;
    margin-right: 10px;
    margin-bottom: 7px;
    float: left;
}