/*---------GENERAL------------*/
.clear{
    clear: both;
    display: block;
}

body{
    height: 100%;
}

.wrapper{
    min-height: 100%;
    padding-bottom: 130px;
    position: relative;
}
.wrapper:after{
    clear:both;
    display : block;
}

/*---------MENU------------*/
a:hover{
    text-decoration: none;
}
/*---------INDEX ----------*/

.container-map{
    position: relative;
}

#zoneRechercheCarte {
    position: absolute;
    top: 49px;
    right: 63px;
    background: beige;
    height: 420px;
    opacity: 0.9;
    font-size:1em;
    overflow: hidden;
    -webkit-transition: all 1s; /* For Safari 3.1 to 6.0 */
    transition: all 1s;
}

#zoneRechercheCarte.reduire{
    height : 50px;
    opacity: 1;
}

#zoneRechercheCarte fieldset:hover{
    cursor: pointer;
}

#filtreRechercheCarte span.glyphicon{
    font-size : 0.7em;
}


input#distance {
    background-color: beige;
}

.form-group.disabled{
    display : none;
}

/*---------TUILE INDEX------------*/
#tuileContainer{
    text-align: center;
    margin-top:20px;
}

#tuileContainer:after {
    content:"";
    clear:both;
    display:block;
}

.tuile{
    width:400px;
    height:200px;
    margin:20px;
    padding:10px;
    background-color: red;
    display: inline-block;
    text-align: justify;
}

.imgTuile{
    width:100px;
    height:100px;
    background-color: green;
    margin-right: 10px;
    margin-bottom: 7px;
    float: left;
}

/*---------FOOTER----------*/
.footer {
  width: 100%;
  /* Set the fixed height of the footer here */
  background-color: #f5f5f5;
  padding-bottom:10px;
  position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
}

footer .social-link{
    background-color: grey;
    text-align: center;
    margin:0;
    padding: 5px;
}

footer{
    clear: both;
    width:100%;
    margin-top: 20px;
}

footer ul{
    text-align: center;
    padding: 0;
    margin:0;
}

footer li a{
    display: block;
    padding:10px;

}

footer a:hover{
    background-color: #ebebeb;
    text-decoration: none;
}

footer ul li{
    display: inline-block;
}


.alert-notice {
    background-image: -webkit-linear-gradient(top,#dff0d8 0,#c8e5bc 100%);
    background-image: -o-linear-gradient(top,#dff0d8 0,#c8e5bc 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#dff0d8),to(#c8e5bc));
    background-image: linear-gradient(to bottom,#dff0d8 0,#c8e5bc 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdff0d8', endColorstr='#ffc8e5bc', GradientType=0);
    background-repeat: repeat-x;
    border-color: #b2dba1;
}


.big-checkbox{
    height:30px;
    width:30px;
}

/*********/


.voffset  { margin-bottom: 2px; }
.voffset1 { margin-bottom: 5px; }
.voffset2 { margin-bottom: 10px; }
.voffset3 { margin-bottom: 15px; }
.voffset4 { margin-bottom: 30px; }
.voffset5 { margin-bottom: 40px; }
.voffset6 { margin-bottom: 60px; }
.voffset7 { margin-bottom: 80px; }
.voffset8 { margin-bottom: 100px; }
.voffset9 { margin-bottom: 150px; }


/*------------Ressources-----------*/
#listRessource ,  .myRessource ul{ padding : 0 ; margin : 0; list-style: none;}
.myRessource { margin-bottom  : 1em;}

/* Flash messages */
.flash-success, .flash-error, .flash-notice{
    display: table;
    margin: 0px auto;
    margin-bottom: 15px;
    text-align: center;
    font-weight: bold;
    padding: 10px 50px;
    border-radius: 30px;
}

.flash-success{
    color: #4CAF50;
    border: 2px solid #4CAF50;
}

.flash-notice{
    color: #ffaa00;
    border: 2px solid #ffaa00;
}

.flash-error{
    color: #F44336;
    border: 2px solid #F44336;
}