{% extends '::base.html.twig' %}

{% trans_default_domain 'partenaires' %}

{% block title %}
    {{ 'titles.partenaires'|trans({}, 'titles') }}
{% endblock title %}

{% block body %}
    <div class="container">

        <h1>{{ 'partenaires.title'|trans }}</h1>
        <hr>

    </div>
{% endblock %}
