{% extends "GeolocationUserBundle::layout.html.twig" %}

{% trans_default_domain 'GeolocationUserBundle' %}

{% block stylesheets %}
{% endblock %}

{% block fos_user_content %}
    <div class="container">
        <div id="email-reset-sent">
            <p>{{ 'resetting.check_email'|trans({'%email%': email}) }}</p>
            <p id="back-to-login-page"><a href="{{ path('fos_user_security_login') }}">{{ 'resetting.request.back_to_login' |trans }}</a></p>
        </div>
    </div>
{% endblock %}
