{% extends "MediamotionUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block stylesheets %}
    {% stylesheets '@MediamotionUserBundle/Resources/public/css/resetting/style_passwordAlreadyRequested.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
        
    {% stylesheets '../app/Resources/public/css/mediamotion.min.css' %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
    {% endstylesheets %}
{% endblock %}

{% block fos_user_content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div id="password-already-requested">
                    <h1>Ooooooops !</h1>
                    <p>{{ 'resetting.password_already_requested'|trans }}</p>

                    <p id="back-to-login-page"><a href="{{ path('fos_user_security_login') }}">Revenir à la page de connexion</a></p>
                </div>
            </div>
        </div>
    </div>
{% endblock fos_user_content %}
