{% trans_default_domain 'suppression' %}

{% block body %}
    <div class="container">

        <div class="row">
            <div class="col-sm-12">
                <h1>{{ 'suppression.title'|trans }}</h1>
                <hr>

                {% form_theme form 'bootstrap_3_layout.html.twig' %}

                {{ form(form|raw) }}
            </div>
        </div>

    </div>
{% endblock %}
