{% extends "GeolocationUserBundle::layout.html.twig" %}

{% block stylesheets %}
{% endblock %}

{% block fos_user_content %}
    <div class="container">
        {% include "GeolocationUserBundle:Ressources:edit_content.html.twig" %}
    </div>

    {% block javascript %}
        {% javascripts '@GeolocationUserBundle/Resources/public/js/*' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock javascript %}
{% endblock fos_user_content %}